:root {
  --secondary: skyblue;
  --tertiary: orangered;
  --shadow: -5px 5px 10px 5px rgba(145, 142, 142, 0.831);
}

body {
  margin: 0;
}
* {
  box-sizing: border-box;
}
.container {
  width: 80%;
  margin: auto;
}
.btn {
  background-color: var(--secondary);
  padding: 10px 15px;
  border: none;
  border-radius: 5px;
  box-shadow: var(--shadow);
}
.btn:hover {
  cursor: pointer;
}

/* <!-- global message --> */
.global {
  background: skyblue;
  padding: 10px 0;
}
.global > div {
  display: flex;
  justify-content: space-between;
}

/* <!-- header section  --> */
header {
  background-color: rgb(32, 18, 81);
  color: white;
  padding: 10px 0;
  font-size: 24px;
}
header > div {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.logo {
  background-color: white;
  color: blue;
  width: 80px;
  height: 80px;
  border-radius: 50%;

  display: flex;
  justify-content: center;
  align-items: center;
}
.logo > div {
  width: 70px;
  height: 70px;
  border-radius: 50%;
  border: 2px dotted green;
  display: flex;
  justify-content: center;
  align-items: center;
}
header ul {
  display: flex;
  list-style-type: none;
}
header ul > li {
  margin-left: 1rem;
}
header ul > li:hover {
  background-color: red;
  cursor: pointer;
  transform: scale(1.5);
}
/* <!-- hero section  --> */
.hero {
  background: url(./Assets/hero.jpg) no-repeat center;
  background-size: cover;
  height: 70vh;

  display: flex;
  justify-content: center;
  align-items: center;
}
.hero-content {
  color: white;
  width: 450px;
  background-color: rgba(0, 0, 0, 0.612);

  padding: 32px;
  border-radius: 10px;

  display: flex;
  flex-direction: column;
  align-items: center;
}
.hero-content hr {
  width: 100%;
}

/* <!-- latest post section  --> */
.latest {
  background: url(/Assets/b.jpg) no-repeat center;
}
.main {
  display: flex;
  width: 80%;
  gap: 1rem;
  margin: 0 auto;
}

.articles {
  width: 66%;
}
article .art-img {
  width: 350px;
}
article {
  display: flex;
  justify-content: space-between;
  gap: 16px;

  box-shadow: var(--shadow);
  background: rgba(255, 255, 255, 0.826);
  border-radius: 10px;
  margin-bottom: 24px;
  padding: 20px 16px;
}
article .btn {
  float: right;
  background-color: var(--tertiary);
}

.side-links {
  width: 34%;
}
.country {
  background-color: rgba(153, 205, 50, 0.603);
  padding: 16px;
  border-radius: 10px;
  margin-bottom: 32px;
}
.date {
  background-color: rgba(153, 205, 50, 0.603);
  padding: 16px;
  border-radius: 10px;
  margin-bottom: 32px;
}
/* <!-- Recommendation  --> */

/* <!-- Subscribe Section  --> */

/* <!-- Footer Section  --> */
footer {
  background-color: rgba(0, 0, 0, 0.354);
  color: white;
  padding: 60px;
  text-align: center;
  margin-top: 30px;
}
